<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>

<%- include('../includes/header.ejs') %>

<main>
    <h4>Cart page</h4>
</main>
</body>
</html>