<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/forms.css">
</head>

<body>

<%- include('../../includes/header.ejs') %>

<main>
    <form class="product-form" action="/admin/products" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
        </div>
        <div class="form-control">
            <label for="title">Price</label>
            <input type="text" name="price" id="price">
        </div>
        <div class="form-control">
            <label for="title">Image URL</label>
            <input type="text" name="image_url" id="image_url">
        </div>
        <div class="form-control">
            <label for="title">Description</label>
            <textarea name="description" id="description" cols="4" rows="3"></textarea>
        </div>

        <button type="submit">Add Product</button>
    </form>
</main>
</body>
</html>